body{
    background-color: cadetblue;
}
.box{
    width: 1200px;
    margin: 200px auto;
    background-color: aliceblue;
}
.box-item{
    width: 30%;
    /*border: 3px solid black;*/
    padding: 16px 24px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin: 0 20px;
}
.clear{
    clear: both;
}